body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

p {
    font-size: 8vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
